@font-face {
  font-family: "CottonCloud";
  src: url("assets/CottonCloud.ttf");
}

* {
  text-align: center;
}

body {
  background-image: url("assets/finnandjake.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  font-family: "CottonCloud";
}

body, header, section {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  background-color: rgb(168,236,255, .8);
  justify-content: center;
  font-size: 100px;
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: space-evenly;
}

section {
  margin: 25px;
}


/* COLUMNS */
.column {
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  padding: 25px 50px;
  border-radius: 25px;
}


/* GAME BOARD */
.gameboard {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  background-color: rgba(255, 255, 255, .8);
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 2px solid black;
}
